/* Main formatting and menu CSS styles */

/* No borders on image links */

a:link img, a:visited img { border-style: none }

address img { float: right; width: 88px; height: 31px; }
address     { clear: right; }

p.title {
  /* font-size: 120%; */
  font-weight: bold;
  color: blue;       /* Change this color until it's NOT ugly */
  text-align: center;
}

h1 {
  font-weight: bold;
  color: darkblue;
}

h2 {
  color: darkgreen;
}

.www_title  { font-family: "Georgia,Palatino,Times,Roman";
              font-size: 26pt;
              text-align: center;}

.www_sidebar  { text-align: center;
               font-family: "Georgia,Palatino,Times,Roman";
               font-size: 12pt;
               margin-left: 0em; margin-right: 0em;
               padding: 0.15em 0.15em 0.15em .15em;
               width: 100%;
               background: url("/images/lines.gif");
               border: 2px solid #cccccc }

.www_sectiontitle, .www_subsection {
               border-width: 1px;
               border-style: solid none;
               text-align: center;
               vertical-align: middle;
               font-family: "Georgia,Palatino,Times,Roman";
               font-weight: bold; font-size: 18pt;
               background: url("/images/lines.gif");
               padding: 0.1em 0.1em 0.1em .1em;
               width: 100%;
               margin-bottom: 0.3em; }

.www_subsection { width: 75%;
                  text-align: left;  font-size: 13pt; }

.www_subsubsection { margin: 1.0em 0.5em 0.5em 0.5em;
                     font-weight: bold; font-style: oblique;
                     border-bottom: 1px solid #999999; font-size: 12pt;
                     width: 75%; }

.www_code { border: solid 1px gray; background: #eeeeee;
            margin: 0 1em 0 1em;
            padding: 0 1em 0 1em;
            display: table; }

.www_footer { text-align: left; color: darkgreen; padding: 0 0 0 0 }

/* Add a black background color to the top navigation */
.topnav {
	background-color: #333;
	overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #ddd;
	color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
	background-color: #4CAF50;
	color: white;
}

/* End Of File */
